<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css-1.5.1.min.css"/>
</head>

<h1>Success!</h1>

We've approved your booking.<br>
We haven't told the owner about it just yet, but if they have a problem with it, we'll deal with them...

<br>
<br>
<form action="/homes" method="get">
  <input type="submit" value="Show me the homes" />
</form>
