<h1> Homes to rent </h1>

<a href="/homes/new" >Add home</a>

<ul>
  <% @homes.each do |home| %>
    <li><%= home.name %><br>
      <%= home.description %> <%= home.price %> 
      <form method="get" action="/homes/availability">
        <button name=<%= home.id %> type="submit">Check Availability</button>
      </form>
      </li>
  <% end %>
</ul><br>


