<h1> Homes to rent </h1>

<a href="/sessions/new" >Log in</a>
<a href="/homes/new" >Add home</a>

<ul>
  <% @homes.each do |home| %>
    <li><%= home.name %><br>
      <%= home.description %> <%= home.price %>
      </li>
  <% end %>
</ul><br><br><br><br><br>


<form action="/sessions/destroy" method="post">
  <input type="submit" value="Log out" />
</form>

<h2>
  <%= flash[:notice] %>
</h2>
