<h1> Homes to rent </h1>

<a href="/homes/new" >Add home</a>

<ul>
  <% @homes.each do |home| %>
    <li><%= home.name %><br>
      <%= home.description %> <%= home.price %>
      </li>
  <% end %>
</ul><br>
