<form method="post" action="/homes">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="description" placeholder="Description" />
  <input type="text" name="price" placeholder="Price per night" />
  <input type="submit" value="Submit" />
</form>

<div style="position: absolute; top: 50; right: 50; width: 100px; text-align:right;">
    <% if session[:username] == nil %>
      You are not logged in.
    <% else %>
      Logged in as: <%= session[:username] %>
    <% end %>
  </div>
