<h1>
  MakersBnB
</h1>

<br><p>
  Welcome to MakersBnB, unsurprisingly, there are places to sleep. Pick one dammit. When you've logged in of course. <br>
And if you haven't signed up, well then duh, you need to do that first.</p><br><br><br>


<a href="/signup" > Sign up </a><br>
<a href="/sessions/new" > Log in </a><br>
<a href="/homes" > Show me the homes </a><br>

<div style="position: absolute; top: 50; right: 50; width: 100px; text-align:right;">
    <% if session[:username] == nil %>
      You are not logged in.
    <% else %>
      Logged in as: <%= session[:username] %>
    <% end %>
  </div>
