<form method="post" action="/sessions">
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="password" placeholder="Password" />
  <input type="submit" value="Log in" />
</form>

<h2>
  <%= flash[:notice1] %>
</h2>
